* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

body {
    margin-top: 80px;
    background: orange;
    margin: 0 auto;
    max-width: 400px;
    color: #fff;
}

.container {
    text-align: center;
    
}

.add-ToDo {
    width: 100%;
    margin-top: 20px;
    border: 0;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    opacity: .75;
    transition: opacity .3s;
}

.add-ToDo:hover,
.add-ToDo:focus {
    opacity: 1;
}

.toDos {
    list-style: none;
}

.toDos li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.toDos li:last-child {
    border: 0;
}